<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">

<div class="container-fluid about-container">
    <div class="row text-white text-center description p-5">
    	<div class="col-xl-7 col-lg-10 col-sm-12">
            <h1 class="title">WHO ARE WE!?</h1>
            <hr>
            <br>
            <p><em>The McMaster Engineering Society will foster the development of well rounded undergraduate engineering students through accessible 
            support of academics, athletics, and recreational and professional activities, while maintaining the integrity and unique traditions of 
            our faculty society.</em></p>
            <br>

        </div>
        <div class="col-xl-5 col-lg-2 col-sm-12"></div>
    </div>


    <div class="row p-5">
    	<div class="col-lg-6 col-sm-12">
    		<img class="fill-img" src="http://macengsociety.ca/wp-content/uploads/2015/08/11025821_805707896176454_1361496012915962071_n1.jpg">
    	</div>
    	<div class="col-lg-6 col-sm-12 p-3">
    		<h1>OUR PAST</h1>
    		<hr class="hr-primary">
    		<p>The McMaster Engineering Society is a society comprised of undergraduate engineering 
    		students at McMaster University in Hamilton, Ontario, Canada. Commonly referred to as the MES, 
            the Society was formed due to the actions of a few innovative and responsible individuals in the Fall of the year 1959.</p>
            <p> This tradition of innovation and responsibility has continued to date, and as the Society continues to grow these traditions 
            promise to nurture strength and spirit in the years to come. Upon its genesis in 1959 the Society creators drafted the mission statement seen below and throughout the years countless executive members have carried out this goal.</p>
        </div>
    </div>


    <div class="row p-5">
    	<div class="col-lg-6 col-sm-12 p-3">
    		<h1>OUR PRESENT</h1>
    		<hr class="hr-primary">
    		<p>Fast forward almost sixty years the MES is now one of the largest student groups on campus. As one of the largest faculties at McMaster University, the MES has been shaping itself for years to create a service base for its students and still strives to support them academically, professionally and socially.</p>
    		<p>With a budget in the hundreds of thousands of dollars, the Society supports and funds over twenty groups and affiliates and aims to support over five thousand undergraduate student members. Students are able to receive funding for various activities such as intramurals, conferences, special projects and more.</p>
    		<p>The MES also offers undergraduate engineering students various social events that aim to interest each individual of our diverse membership. These events will range from coffee houses to pub nights; game nights to guest lectures.</p>
    		<p>Professional development is a key aspect in every student’s university career. The MES is proud to support students representing McMaster Engineering at various technical, social and professional conferences across North America and on campus.</p>
    		<p>Lastly, the MES provides a peer-friendly system that can provide input from students to the Faculty of Engineering through attentive advocates. Students are also encouraged to participate in the McMaster Engineering Competition (MEC) that occurs in the fall as well as to take advantage of the subsidized tutoring program.</p>
    		<p>It is important to note that the MES would not exist if it were not for all the passionate, driven and caring individuals who volunteer their time to this organization. All guests are welcome and encouraged to explore the website to learn more about what is offered to MES members.</p>
        </div>
    	<div class="col-lg-6 col-sm-12">
    		<div class="row">
    			<img class="fill-img" src="http://macengsociety.ca/wp-content/uploads/2015/08/10653321_756235431105895_3934070245385111410_n.jpg">
    		</div>
    		<div class="row mt-3">
    			<a class="btn btn-primary btn-md" href="/council">Council</a>
    			<a class="btn btn-primary btn-md ml-3" href="/teamsclubs">Teams/Clubs</a>
    		</div>
    	</div>
    </div>


    <div class="row future">
    	<div class="col-lg-3 col-sm-1"></div>
    	<div class="col-lg-6 col-sm-10 text-center text-white p-5">
			<h1>OUR FUTURE</h1>
			<hr class="hr-primary-mid">
			<br>
			<p>Looking towards the future, the MES Council wishes to increase student involvement at the general member level. In order to accomplish this, a long term plan has been developed as well as various general services such as the MESCard. The Society will soon breach a new era in its history upon the creation of the Gerald Hatch Centre for Engineering Experimental Learning. The Hatch Centre will be Engineering’s own student centre and will allow the MES to reach new milestones with regards to how it can serve its students come 2017.</p>
    	</div>
    	<div class="col-lg-3 col-sm-1"></div>
    </div>

</div>

<% include ./partials/footer %>