<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/applications.css">

<div class="container-fluid">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">APPLICATIONS</h1>
            <hr>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6 p-5">
            <h1>Nominations</h1>
            <hr class="hr-primary-mid">
            <ul>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/image_of_an_engineer.pdf">Image of an Engineer</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/faculty_appreciation_nomination.pdf">Faculty Appreciation</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/outstanding_teacher_assistant_nomination.pdf">Outstanding Teacher Assistant Nomination</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/MES-Elected-Position-Nomination-Form.pdf">Elected Position Nomination Form</a></li>
            </ul>
        </div>
        <div class="col-6 test p-5">
            <h1>Committee &amp; Coordinators</h1>
            <hr class="hr-primary-mid">
            <ul>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/pmrc_application.pdf">Policy Manual Review Committee</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/Orientation-Committee-Application-2019.pdf">Welcome Week Committee Applications 2019 (pdf)</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/Orientation-Committee-Application-2019.docx">Welcome Week Committee Applications 2019 (word doc)</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfxO-5SDF_c0eAZitSe8C6d-lJiIX-NNoyyGUVPKGQFG3P04w/viewform">Welcome Week Committee Application 2019 (google form)</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/appointed_position_application.pdf">Appointed Position Application</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/appointed_position_responsibility.pdf">Appointed Position Responsibility Contract</a></li>
            </ul>
        </div>
        <div class="col-6 test p-5">
            <h1>Maclab</h1>
            <hr class="hr-primary-mid">
            <ul>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/macLAB-Application-Guidelines-2016.pdf">MacLAB Guidelines</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/macLAB+Application+Form+2018-2019.pdf">MacLAB Application Form</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/macLAB+Opt-Out+Form+2018-2019.pdf">MacLAB Opt-out Form</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/macLAB-Chair.pdf">MacLAB Chair Application Form</a></li>
            </ul>
        </div>
        <div class="col-6 p-5">
            <h1>Sponsorship</h1>
            <hr class="hr-primary-mid">
            <ul>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/sponsorship_checklist.pdf">Sponsorship Checklist</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/MES-Intramural-Funding-Guide.pdf">Intramural Sponsorship Guidelines</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/applications/MES-Intramural-Funding-Requestion-Updated-Feb-8th-2017.pdf">Intramural Sponsorship Form</a></li>
            </ul>
        </div>
    </div>
</div>

<% include ./partials/footer %>