<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">CONTACT US</h1>
            <hr>
        </div>
    </div>

    <div class="row card-info pl-5 pr-5 pt-5">
        <div class="col-12">
            <h1>Info</h1>
            <hr class="hr-primary">
            <p>Below you will find the email contacts for all of the positions on the McMaster Engineering Society Council as well as our Anonymous Feedback Form. For position specific questions we ask that you email the current position holder, or visit them (if they are an Executive or Associate Vice President) at their designated office hours.</p>

            <p>For general feedback of any nature you may also use the feedback form to lodge a complaint or compliment with the executive team. Contact information is appreciated when filing feedback as it helps us follow up on the situation, however it is not required.</p>
        </div>
    </div>

    <div class="row pr-5 pl-5">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Executive, Associate Vice-Presidents, and Officers
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <h3>Executive</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>President</td>
                                <td>Liam McDermott</td>
                                <td><a href="mailto:president@macengsociety.ca">president@macengsociety.ca</a></td>
                            </tr>                            
                            <tr>
                                <td>VP Student Life</td>
                                <td>Kat Lemos</td>
                                <td><a href="mailto:vp.studentlife@macengsociety.ca">vp.studentlife@macengsociety.ca</a></td>
                            </tr>                            
                            <tr>
                                <td>VP Academic</td>
                                <td>Ian Currie</td>
                                <td><a href="mailto:vp.academic@macengsociety.ca">vp.academic@macengsociety.ca</a></td>
                            </tr>                            
                            <tr>
                                <td>VP External Relations</td>
                                <td>Melissa Cusack</td>
                                <td><a href="mailto:vp.external@macengsociety.ca">vp.external@macengsociety.ca</a></td>
                            </tr>                            
                            <tr>
                                <td>VP Finance & Administration</td>
                                <td>Nick Aubry</td>
                                <td><a href="mailto:vp.finance@macengsociety.ca">vp.finance@macengsociety.ca</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="pt-5">Associate Vice Presidents</h3>
                    <table>
                        <tbody>                          
                            <tr>
                                <td>AVP Events</td>
                                <td>Leisha Fernando</td>
                                <td><a href="mailto:avp.events@macengsociety.ca">avp.events@macengsociety.ca</a></td>
                            </tr>                            
                            <tr>
                                <td>AVP Clubs & Sponsorship</td>
                                <td>Erin Nunn</td>
                                <td><a href="mailto:avp.clubs@macengsociety.ca">avp.clubs@macengsociety.ca</a></td>
                            </tr>                            
                            <tr>
                                <td>AVP Services & Productions</td>
                                <td>Emma Levy</td>
                                <td><a href="mailto:avp.services@macengsociety.ca">avp.services@macengsociety.ca</a></td>
                            </tr>                            
                        </tbody>
                    </table>

                    <h3 class="pt-5">Officers</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Equity Officer</td>
                                <td>Alexii Hernandez</td>
                                <td><a href="mailto:equityofficer@macengsociety.ca">equityofficer@macengsociety.ca</a></td>
                            </tr>                                                     
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Department and Program Representatives
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <h3 class="">Department Representatives</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Chemical</td>
                                <td>Cassandra Stothers</td>
                                <td><a href="mailto:chemical@macengsociety.ca">chemical@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Civil</td>
                                <td>Brendan Tomaiuolo</td>
                                <td><a href="mailto:civil@macengsociety.ca">civil@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Computing & Software</td>
                                <td>Alexie McDonald</td>
                                <td><a href="mailto:software@macengsociety.ca">software@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Electrical & Computer</td>
                                <td>Aya Aboughanem</td>
                                <td><a href="mailto:ece@macengsociety.ca">ece@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Materials</td>
                                <td>Amy Gullins</td>
                                <td><a href="mailto:materials@macengsociety.ca">materials@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Mechanical</td>
                                <td>Julian Simeonov</td>
                                <td><a href="mailto:mechanical@macengsociety.ca">mechanical@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Mechatronics</td>
                                <td>Hassan Elaghoury</td>
                                <td><a href="mailto:mechatronics@macengsociety.ca">mechatronics@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Physics</td>
                                <td>Desmond Kennedy</td>
                                <td><a href="mailto:physics@macengsociety.ca">physics@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>BEAMS</td>
                                <td>Kaylie Lau</td>
                                <td><a href="mailto:beams@macengsociety.ca">beams@macengsociety.ca</a></td>
                            </tr>

                        </tbody>
                    </table>

                    <h3 class="pt-5">Program Representatives</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>iBiomed</td>
                                <td>Konrad Grala</td>
                                <td><a href="mailto:i-biomed@macengsociety.ca">i-biomed@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>B-Tech</td>
                                <td>Aras Siddiqui</td>
                                <td><a href="mailto:btech@macengsociety.ca">btech@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Computer Science</td>
                                <td>Natasha Varghese</td>
                                <td><a href="mailto:compsci@macengsociety.ca">compsci@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>First Year</td>
                                <td>Yuvi Randhawa, Nicole Sutton, &amp; Hawk Yang (Eng 1)<br>Terrel Marshall (iBioMed)<br>Patrick Wojtera (BTech)<br>Youssef Mikhail (Comp Sci)</td>
                                <td><a href="mailto:firstyear@macengsociety.ca">firstyear@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Engineering and Management</td>
                                <td>Brodie Bresette</td>
                                <td><a href="mailto:management@macengsociety.ca">management@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Engineering and Society</td>
                                <td>Andrew Aslanidis</td>
                                <td><a href="mailto:society@macengsociety.ca">society@macengsociety.ca</a></td>
                            </tr>
                        </tbody>
                    </table>


                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Coordinators, Editors and Administrative Personnel
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <h3>Coordinators</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>WL Lounge Coordinator(s)</td>
                                <td>Michael Maser & Jed Gonzales</td>
                                <td><a href="mailto:lounge@macengsociety.ca">lounge@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Co-Orientation Coordinators</td>
                                <td>Marc Peters & Santiago Vera</td>
                                <td><a href="mailto:coocs@macengsociety.ca">coocs@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Culture Coordinator(s)</td>
                                <td>Chantal Ullyet & Jake Morton</td>
                                <td><a href="mailto:culture@macengsociety.ca">culture@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Drain Coordinators(s)</td>
                                <td>Bailey Hume & Keegan Amy</td>
                                <td><a href="mailto:drain.coordinator@macengsociety.ca">drain.coordinator@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Fireball Coordinator(s)</td>
                                <td>Nick Alvarez & Rachel Laurat</td>
                                <td><a href="mailto:fireball@macengsociety.ca">fireball@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Information Technology Coordinator(s)</td>
                                <td>David Hobson & Neet Shah</td>
                                <td><a href="mailto:communications@macengsociety.ca">communications@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Kipling Coordinator(s)</td>
                                <td>Marina Manoraj & Cynthia Pham</td>
                                <td><a href="mailto:kipling@macengsociety.ca">kipling@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Trailer Maintenance Coordinator</td>
                                <td>Jarod Bishop-Dove</td>
                                <td><a href="mailto:trailer@macengsociety.ca">trailer@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>ARC Coordinator(s)</td>
                                <td>Andy Hameed, Kierra McDougall, & Mady Lockwood</td>
                                <td><a href="mailto:arc@macengsociety.ca">arc@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Hatch Coordinator(s)</td>
                                <td>Julia Bauer</td>
                                <td><a href="mailto:ghc@macengsociety.ca">ghc@mcmaster.ca</a></td>
                            </tr>
                            <tr>
                                <td>Advertising Coordinator(s)</td>
                                <td>Helen Zhu, Zaid Khan, & Alex Samaha</td>
                                <td><a href="mailto:advertising@macengsociety.ca">advertising@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Sports Coordinator(s)</td>
                                <td>Marc Godin & Jonathan Wang</td>
                                <td><a href="mailto:sports@macengsociety.ca">sports@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Public Relations Coordinator(s)</td>
                                <td>Graeme Woods & Alex Moica</td>
                                <td><a href="mailto:public.relations@macengsociety.ca">public.relations@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Professional Development Coordinator(s)</td>
                                <td>Ariana Hurley & Rachel McKenzie</td>
                                <td><a href="mailto:pd.committee@macengsociety.ca">pd.committee@macengsociety.ca</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="pt-5">Editors</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Frequency Editor</td>
                                <td>Chelsea Miller & Vincent Popovitch</td>
                                <td><a href="mailto:frequency@macengsociety.ca">frequency@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Handbook Editor</td>
                                <td>Keeran Sivanesan & Tommy Suida</td>
                                <td><a href="mailto:handbook@macengsociety.ca">handbook@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Plumbline Editors</td>
                                <td>M.J. Lindsay & Jackson Tarlin</td>
                                <td><a href="mailto:plumbline@macengsociety.ca">plumbline@macengsociety.ca</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="pt-5">Administrative Personnel</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Chief Returning Officer</td>
                                <td>Michael Barbosa</td>
                                <td><a href="mailto:cro@macengsociety.ca">cro@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>MacLAB Chair</td>
                                <td>Nicolas Rotella</td>
                                <td><a href="mailto:maclab@macengsociety.ca">maclab@macengsociety.ca</a></td>
                            </tr>
                            <tr>
                                <td>Administrator</td>
                                <td>Christos Liaconis</td>
                                <td><a href="mailto:administrator@macengsociety.ca">administrator@macengsociety.ca</a></td>
                            </tr>
                        </tbody>
                    </table>

                  </div>
                </div>
              </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Conference Chairs
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <h3>Ontario Engineering Competition</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Co-Chairs</td>
                                <td>Keith Onderisin & Tommy Siuda</td>
                                <td><a href="mailto:chair@oec2019.ca">chair@oec2019.ca</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="pt-5">McMaster Engineering Competition</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Chair</td>
                                <td>Aya Aboughanem</td>
                                <td><a href="mailto:mec@macengsociety.ca">mec@macengsociety.ca</a></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>

    <div class="row card-info pl-5 pr-5 pt-5">
        <div class="col-12 ">
            <h1>Anonymous Feedback Form</h1>
            <hr class="hr-primary">
            <iframe class="text-center" src="https://docs.google.com/forms/d/1bXIVzazWftl9NlpKcWieOZzzARDfnBEzzWD9DDJSSs8/viewform?embedded=true" width="760" height="770" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </div>
</div>

<% include ./partials/footer %>