<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/rentals.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">ENGINEERING CO-OP &amp; CAREER SERVICES</h1>
            <hr>
        </div>
    </div>

    <div class="row card-info p-5">
        <div class="col-6">
            <h1>About</h1>
            <hr class="hr-primary">
            <p>A joint venture between the McMaster Engineering Society and the Faculty of Engineering, Engineering Co-op & Career Services connects students with employers, provides career-planning tools and resources, and provides opportunities for students to gain employment experience. Services include managing the Engineering Co-op Program, planning employment/career workshops for students, inviting guest speakers for career-related information events, taking part in the campus recruitment process for graduating students and recruiting employers to hire students.</p>
            <a href="https://www.eng.mcmaster.ca/co-op-career/co-op-program">Visit the ECCS site for more information!</a>
        </div>
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/ECCS1.jpg">
        </div>  
    </div>

</div>

<% include ./partials/footer %>