<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/finances.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">FINANCES</h1>
            <hr>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-xl-6">
            <h1>Your Money</h1>
            <hr class="hr-primary">
            <p>Take a look at how student funds have been allocated for the current year as well as past years’ finances!</p>
            <p>If you have any questions, comments or concerns related to the MES Finances, feel free to send an email to <a href="mailto:vp.finance@macengsociety.ca">vp.finance@macengsociety.ca</a>.</p>
            <div class="accordion" id="accordionExample">

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      2017 - 2018 Info
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body display-flex">
                    <ul>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2017+-+2018/Council-Approved-Budget-2017-2018.xlsx">MES Budget 2017-2018</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2017+-+2018/MES-2017-DRAFT-Statements.pdf">2017-04-30 McMaster Engineering Society Review Engagement</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      2016 - 2017 Info
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2016+-+2017+/2016-04-30-McMaster-Engineering-Society-REV-FS.pdf">2016-04-30 McMaster Engineering Society Review Engagement</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2016+-+2017+/Budget-2016-2017-1.xlsx">MES Budget 2016-17</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2016+-+2017+/MES-Budget-2016-17.xlsx">MES Budget 2016-2017 Jan. 27th Update</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      2015 - 2016 Info
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/MES-budget-web_15-16.xlsx">MES Budget 2015-16</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/MES_budget_Fall2015-16.xlsx">MES Budget 2015-16 – as of Dec. 31, 2015</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/MES-budget-current.pdf">MES Budget – Feb. 11, 2016</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/MES-budget-current+(1).pdf">MES Budget – Feb. 25, 2016</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/MES-budget-current1.pdf">MES Budget – Mar. 10th, 2016</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/Closing-Budget-2015-2016.pdf1.xlsx">Closing Budget 2015-16</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/Town-Hall-1.pdf">Town Hall 1 Minutes</a></li>
                        <li><a href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2015+-+2016/Town-Hall-2.pdf">Town Hall 2 Minutes</a></li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      2014 - 2015 Info
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2014+-+2015/MES-2014-2015-Budget.pdf">MES Budget Proposal 2014-15</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2014+-+2015/MES-Budget-vs-Actuals-May-1st-Sept-30th.pdf
">MES Budget vs. Actuals 2013-14</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2014+-+2015/VP-Finance-Accountability-Presentation-1.pptx">VP Finance Accountability 2014-15 (SAGM 1)</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      2013 - 2014 Info
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2013+-+2014/MES-2013-2014-Budget.pdf">MES Budget Proposal 2013-14</a></li>
                        <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/2013+-+2014/MES-2013-2014-Financial-Statement.pdf">MES P&L Statement 2013-14</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xl-6 text-center">
            <img src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/static/finances-infographic.jpg
">
        </div>  
    </div>

    <div class="row misc-docs p-5">
        <div class="col-6 pr-5">
            <h1>Funding Guides</h1>
            <hr class="hr-primary">
            <p>These guides will provide you with everything you need to know to get reimbursed by the MES!</p>
            <ul>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/funding-guides/MES_Department_Clubs_Funding_Guide.pdf">Department Clubs</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/funding-guides/MES_Groups__Teams_Funding_Guide.pdf">Groups & Teams</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/funding-guides/MES_Conference_Funding_Guide1.pdf">Conference & Competitions</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/funding-guides/MES_Special_Projects_Funding_Guide1.pdf">Special Projects</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/funding-guides/MES-Intramural-Funding-Guide.pdf">Intramurals</a></li>
            </ul>
        </div>

        <div class="col-6 pr-5">
            <h1>Appendices</h1>
            <hr class="hr-primary">
            <p>The following may all be found as appendices in the <a target="_blank" href="#">MES Policy Manual</a>.</p>
            <ul>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Appendix_H-Expense_Report.pdf">Appendix H: Expense Report</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Apendix-P-Camera-Rental-Form.pdf">Appendix P: Camera Rental Application</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Appendix_R-Sponsorship_Checklist.pdf">Appendix R: Groups & Teams Sponsorship Checklist</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Appendix_T-Interdepartmental_Transfer_of_Funds.pdf">Appendix T: Interdepartmental Transfer of Funds</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Appendix_U-MES_SAGM_Department_Funding.pdf">Appendix U: SAGM Department Funding</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Appendix_V-MES_Conference_Application.pdf">Appendix V: Conference & Competition Funding Application</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Appendix_W-MES_Special_Projects_Application.pdf">Appendix W: Special Projects Application</a></li>
                <li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/finances/appendices/Photography-Contract.pdf">Appendix Y: Photography Contract</a></li>
            </ul>
        </div>
    </div>

</div>

<% include ./partials/footer %>