<% include ./partials/header %>


<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h4 class="title">FUNDING</h4>
            <hr>
        </div>
    </div>

    <div class="row card-info p-5">
        <div class="col-xl-4 pb-5">
            <h4>Special Projects</h4>
            <hr class="hr-primary">
            <p>The Special Projects Fund was created to support new initiatives as well as new groups and teams within the McMaster Engineering community. The main purpose of this fund is to support endeavours that don’t normally have a constant stream of funding from the MES. In order to understand how this fund works, please check out the <a href="">Special Projects Funding Guide</a> before filling out the application below.</p>
            <a class="btn btn-outline-primary" href="">Appendix V - Special Projects Funding Application</a>
        </div>

        <div class="col-xl-4 pb-5">
            <h4>Open Conference &amp; Competition</h4>
            <hr class="hr-primary">
            <p>Any delegation of engineering students attending a conference is eligible to receive funding from the MES Open Conference Fund. This fund is readily available throughout the year and in order to understand how it operates please check out the <a href="">Conference Funding Guide</a>. If you have any questions on the process, please don’t hesitate to email vp.external@macengsociety.ca, otherwise feel free to fill out the application below. </p>
            <a class="btn btn-outline-primary" href="">Appendix V - Open Conference Funding Application</a>
        </div>

        <div class="col-xl-4">
            <h4>Faculty Groups &amp; Teams Support</h4>
            <hr class="hr-primary">
            <p>The McMaster Engineering Clubs & Teams Fund is a Faculty operated endeavour that was created with the goal of financially supporting the MES’s affiliated groups, clubs and teams. The fund is administered by the Faculty and any interested applicants must fill out the form below in order to be considered for funding.</p>
            <a class="btn btn-outline-primary" href="">Clubs & Teams Support Fund Application</a>
        </div>  
    </div>

</div>

<% include ./partials/footer %>