<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/governingdocs.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">GOVERNING DOCUMENTS</h1>
            <hr>
        </div>
    </div>

    <div class="row docs text-center text-white p-5">
        <div class="col-6">
            <h1>Policy Manual</h1>
            <hr class="hr-primary-mid">
            <p class="pr-5 pl-5 pt-4">The MES Policy Manual dictates the processes and procedures that the MES and its members must follow. If you’re looking for how to get reimbursed, how to become an MES Affiliate or what the roles of each MES member are, here is where you’ll find it!</p>
            <a target="_blank" class="btn btn-outline-primary text-white" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/governing-docs/MES+Policy+Manual+-+Nov-09-2018+.pdf">MES Policy Manual</a>
        </div>
        <div class="col-6">
            <h1>Constitution</h1>
            <hr class="hr-primary-mid">
            <p class="pr-5 pl-5 pt-4 ">The Constitution defines the responsibilities of the MES to you, its members, and provides the mission statement that guides day-to-day MES operations and decisions. To see what the MES is all about and what we strive to do for you, take a look!</p>
            <a target="_blank" class="btn btn-outline-primary text-white" href="https://s3.us-east-2.amazonaws.com/mes-website-assets/documents/governing-docs/MES+Constitution+-+Nov-09-2018.pdf">MES Constitution</a>
        </div>  
    </div>

</div>

<% include ./partials/footer %>