<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/involved.css">

<div class="container-fluid involved-title traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">GET INVOLVED</h1>
            <hr>
        </div>
    </div>

    <div class="row  p-5 text-center text-white justify-content-center">
        <div class="col-5">
            <h1>Start Your MES Journey</h1>
            <hr class="hr-primary-mid">
            <p>From committees to elections to getting involved in groups external to the MES, extracurriculars are a crucial part of university life. Not only do they support experimental learning but working in teams on non academic projects helps to create well rounded students. Check out the below tabs to see how you can get involved in the MES.</p>
        </div>
    </div>

    <div class="row row-highlight p-5 text-white">
        <div class="col-4">
            <h2>Committees</h2>
            <hr class="hr-primary">
            <p>There are many different committees run by the MES which are open for everyone to join! Most committees involve a simple application process, so be sure to contact the respective chair if you wish to get involved.</p>
        </div>
        <div class="col-4">
            <h2>Appointed Positions</h2>
            <hr class="hr-primary">
            <p>There are many different committees run by the MES which are open for everyone to join! Most committees involve a simple application process, so be sure to contact the respective chair if you wish to get involved.</p>
        </div>
        <div class="col-4">
            <h2>Clubs & Teams</h2>
            <hr class="hr-primary">
            <p>There are many different committees run by the MES which are open for everyone to join! Most committees involve a simple application process, so be sure to contact the respective chair if you wish to get involved.</p>
        </div>
    </div>

</div>

<% include ./partials/footer %>