<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/rentals.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">MACLAB</h1>
            <hr>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-6">
            <h1>About</h1>
            <hr class="hr-primary">
            <p>In response to an increasing need to renew and update McMaster Engineering’s undergraduate lab facilities, the <strong>McMaster Laboratory Advancement Benefaction Endowment Fund, or macLAB Endowment Fund, was initiated by Engineering students and faculty in 1997.</strong> The constant renewal and upgrading of undergraduate laboratory facilities ensures that McMaster undergraduate Engineering students are exposed to the most recent developments in their fields of study, and that graduates of McMaster Engineering possess the skills needed in the Engineering workforce.</p>
            <p>To apply for funding, or to opt-out of contributing to macLAB, you can download the macLAB package on the applications page.</p>
            <a href=""><strong>Make a change. Apply for the position of MacLAB chair now!</strong></a>
            <br>
            <br>
            <a href="">Opt-out Form</a>
        </div>
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/Maclab-Page.jpg">
        </div>  
    </div>

    <div class="row p-5">
        <div class="col-xl-6 pb-5">
            <h1>Purpose &amp; History</h1>
            <hr class="hr-primary">
            <p>macLAB is a student-funded program. Each year, engineering students contribute $50 of their tuition to the fund, however the donation to the fund is entirely voluntary. If a student feels that it isn’t in his or her best interests (or budget) to contribute to this program, they can have the value of their donation credited to their student account (i.e. there is no money transaction).</p>
            <p>Since it’s inception in 1997, the fund has grown to over $1.5 million (in principal), and disbursed over $425,000 in project funding. Any member or student of a department within the Faculty of Engineering can apply for financial aid to upgrade their undergraduate laboratory facilities, or to fund special projects benefiting their undergraduate student body.</p>
            <p><strong><em>macLAB represents the hard work and foresight of a student body committed to ensuring a high quality of education both for themselves, and all future McMaster engineering students.</em></strong></p>
        </div>
        <div class="col-xl-6">
            <h1>Serving on the Board of Directors</h1>
            <hr class="hr-primary">
            <p>Any full-time undergraduate engineering student can serve on the Board of Directors (BoD). All positions are for a one-year term including the Chair, Chair Elect, and all Departmental/Program positions. To apply, send an email to your Department Chair and your Department Club President outlining your interest in the position by <strong>October 1st</strong>. To apply for the Chair position, submit your intent to the MES President, MES VP Academic, and the Dean <strong>at least one week preceding the MES Semi Annual General Meeting in March</strong>. For full details, see page 2 of the <a href="">macLAB By-Laws</a>, or email the macLAB Chair at maclab@macengsociety.ca.</p>
        </div>
    </div>

</div>

<% include ./partials/footer %>