<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/officehours.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
        <div class="col-12">
            <h4 class="title">OFFICE HOURS</h4>
            <hr>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-12 text-center">
            <img class="office-hours" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/static/office-hours2.png">
        </div>
    </div>

</div>

<% include ./partials/footer %>