<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/presidential-election.css">

<div class="container-fluid">
    <div class="row text-white text-center title-card p-5">
        <div class="col-12">
            <h1 class="title">PRESIDENTIAL ELECTIONS</h1>
            <hr>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-12">
            <h1>Time for Democracy!</h1>
            <hr class="hr-primary">
            <p>It's time for the MES Presidential elections! Campaigning will happen throughout the month of January and voting will happen through your McMaster email for <strong>January 21th 8:00am – January 22nd 11:59pm</strong>. The candidates are listed below...</p>
        </div>
    </div>

    <div class="row candidate-info p-5">

        <div class="col-xl-6 col-sm-12 text-center melissa-section">
            <h1>Melissa Cusack</h1>
            <hr class="hr-primary-mid">
            <img src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/presidential-election/melissa-cusack.jpg" alt="">
            <div class="p-5 text-left">
                <p>Hello!</p>
                <p>My name is Melissa Cusack and I am running to be your next McMaster Engineering Society President. I am in my fourth year of Chemical Engineering & Society and am constantly amazed by the community that is McMaster.</p>
                <p>This past year I had the pleasure of being Vice President External on the MES and have carefully paid attention to the places where the MES is strong, and the places the MES needs to grow, re-shape, and focus, in order to best serve you, the students.</p>
                <p>To work towards increasing the effectiveness of the Engineering Society, I will lean on the key tenants of communication, consultation, and creation. My leadership stems from my passion, but effective change will come through ensuring that you, the students, are included in the conversations we have about changes that we make within our community. This will happen through supporting new ideas with the resources they need to grow, and through ensuring that students are aware of the services, events, and advocacy, that the MES has to offer.</p>
                <p>I will focus on building an effective team in order to deliver the best results. Throughout all levels of student extracurriculars at McMaster, the strongest teams that have created the most change within their one-year terms, are those teams that have worked together toward a common vision.</p>
                <p>It is the role of the MES President to be ultimately responsible for both maintaining the integrity of the society and for leveraging the most out of the MES Council to better serve the McMaster engineering community. I hope to accomplish this by engaging with Council, and ensuring that the executive team can come together to deliver the services the MES promises as well new, innovative ideas that complement our diverse student body’s needs.</p>
                <p>These themes form the basis of my campaign promises. Shaped by my experiences, and strengthened through consultation, I plan to:</p>
                <ol>
                    <li>Improve MES services, and access to the services and opportunities that exist within the community.</li>
                    <li>Make space for continued work on improving the MES’s sustainability, and ability to support the sustainability of the associated clubs and teams.</li>
                    <li>Help the MES communicate better, to you, and to those involved within the MES, by introducing a communications position.</li>
                    <li>Create systems and organizational protocols that will unite the MES Council and our usage of the Hatch Centre and form a basis for future innovation and growth.</li>
                </ol>
                <p>To learn more about my vision, my background, or my platform check out my website: <a href="https://melissa2019.com/">www.melissa2019.com</a>. If you see me around campus don’t be shy, and feel free to drop me a line with any questions, thoughts, comments, or concerns you may have!</p>
                <a href="https://www.facebook.com/events/205489703614074/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://melissa2019.com/"><i class="fas fa-globe fa-2x"></i></a>
            </div>
        </div>
        <div class="col-xl-6 col-sm-12 text-center victor-section">
            <h1>Victor Chen</h1>
            <hr class="hr-primary-mid">
            <img src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/presidential-election/victor-chen.jpg" alt="">
            <div class="p-5 text-left">
                <p>Hey Marauders!</p>
                <p>As a brief introduction, my name is Victor Chen, and I am in my third year of Software Engineering. I am currently the Chief Academic Chair of the Computer Science Society, the Vice-President External of the Society for Emerging Technology, and I have represented Microsoft at McMaster as one of their Canadian student partners for over a year now! I have been a part of our wonderful engineering society for two years, and as President, I strive to elevate all our undergraduate experiences. That's enough about me, I hope you appreciate my platform.</p>
                <p>At McMaster, we are among the best programs in the world and we have the rare opportunity to be surrounded by the brightest individuals of our time. To truly take advantage of this, and to hopefully broaden our horizons collectively, I intend to facilitate the development of more interdisciplinary events and workshops with our university, whether that be with other faculty societies or directly through other faculties themselves, all on top of all our current exclusive engineering events. A large part of our university experience is discovering interests and passions, so who knows? Perhaps you'll find an interest or passion that complements what you've learned in your program. Engineering solutions are usually not built for just engineers, and as students under the umbrella of engineering, it is especially important to not only stay open to learning, but also to connect with people that are not necessarily from your program to deepen your understanding of the disciplines actually utilizing what we create.</p>
                <p>We are all here for a reason, we all have our own aspirations, and our own personal professional goals. One of the most daunting feelings in our whole university journey is not knowing where you stand between your goals - how much progress you've exactly been making, which areas you could improve upon to immediately take you one stride farther, and what your next steps could be. Most of us will at one point or another face this problem and not only could it be demotivating, it has tremendous potential to impede the progression of your career when it is masked as failure. To address this, I aim to create a system with our co-op and academic offices, lending up-to-date, in-depth feedback from our prized employers, alumni, and faculty, to not only truly analyze student portfolios and act as a guiding hand when we might want one, but also provide personal professional development workshops centered around your goals. What better time to do this than in the wake of our faculty's restructuring?</p>
                <p>That's everything, I hope my platform resonated with you, and if you have any questions at all, please feel free to reach out to me at
                    <a href="mailto:chenv5@mcmaster.ca">chenv5@mcmaster.ca</a>. Thanks for reading!</p>
                <a href="https://www.facebook.com/events/742421446142237/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://www.victorplusc.com/"><i class="fas fa-globe fa-2x"></i></a>
            </div>
        </div>
    </div>

</div>

<% include ./partials/footer %>