<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/publications.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">PUBLICATIONS</h1>
            <hr>
        </div>
    </div>

    <div class="row frequency card-info p-5">
        <div class="col-6">
            <h1>Frequency</h1>
            <hr class="hr-primary">
            <p>The Frequency is a 3-issue magazine released in September, December and April. It is a full-colour publication that documents important achievements of undergraduate engineering student groups. It also serves to inform students of upcoming events, contests and meetings. Basically, if someone is doing something awesome, chances are the Frequency will be covering it! The editors are always looking for more writers, so if you want to contribute a piece don’t hesitate to send it in to frequency@macengsociety.ca.</p>

            <p>Keep an eye out for the red magazine stands in MUSC, JHE, ETB and Hatch to pick up a copy!</p>
        </div>
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/10846285_10152930411183134_8080249422825146740_n.png">
        </div>  
    </div>

    <div class="row plumbline card-info p-5">
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/IMG_20150823_183127-1024x1024.jpg">
        </div> 
        <div class="col-6">
            <h1>Plumblime</h1>
            <hr class="hr-primary">
            <p>The Plumbline is a satirical newspaper that has been published by the McMaster Engineering Society since 1967. The paper contains humorous articles relating to McMaster, pop culture, and engineering events. Issues can be found in the Plumb box in the David Wilkinson Lounge, JHE H101. If you have an article idea, a written piece, or would like to contact the editorial staff, please message plumbline@macengsociety.ca.</p>

            <p>Keep an eye out for the red magazine stands in MUSC, JHE, ETB and Hatch to pick up a copy!</p>
        </div>
    </div>

    <div class="row handbook card-info p-5">
        <div class="col-6">
            <h1>Handbook</h1>
            <hr class="hr-primary">
            <p>The Handbook is an agenda of sorts that gets published at the beginning of each academic year. You may have noticed that you received one in your Welcome Week swag bag! This is a one stop guide for any new McMaster Engineer to learn about some of our traditions, the Redsuits, the Hamilton area and McMaster University as a whole. The Handbook also contains a day planner and a few fun activities to help you occupy those lonely hours during between classes. If you have any questions about the publication, send an email over to handbook@macengsociety.ca.</p>

            <p>If you lost or missed out on your copy, or you want to check out what a previous year’s Handbook looked like, visit the Drain in Hatch!</p>
        </div>
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/IMG_20150823_183307-1024x1024.jpg">
        </div> 
    </div>

</div>

<% include ./partials/footer %>