<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/rentals.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">RENTALS</h1>
            <hr>
        </div>
    </div>

    <div class="row card-info p-5">
        <div class="col-6">
            <h1>MES Projector</h1>
            <hr class="hr-primary">
            <p>Any MES Member is welcome to rent the MES projector and media presentation kit. The projector has a VGA connection and is ideal for small group presentations. The kit includes the necessary cables as well as a carrying case.</p>
            <h5><strong>Booking Instructions</strong></h5>
            <p>If you would like to book the MES Projector, you may email the AVP Services & Productions at avp.services@macengsociety.ca to check for availability before printing out the contract, which can be found below. Please note a $150 deposit in the form of cash or cheque must be given to the VP Finance before renting the projector.</p>
        </div>
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/IMG_2437-copy.jpg">
        </div>  
    </div>

    <div class="row tent card-info p-5">
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/Tent.jpg">
        </div> 
        <div class="col-6">
            <h1>MES Tent</h1>
            <hr class="hr-primary">
            <p>MES Clubs, Teams and Groups can book the MES Tent for a variety of events. The Tent is 10′ by 15′, features a rainproof customized canopy and comes in a mobile transportation bag.</p>
            <h5><strong>Booking Instructions</strong></h5>
            <p>If you would like to book the MES Tent, you may email the AVP Services & Productions at avp.services@macengsociety.ca to check for availability before printing out the contract, which can be found below. Please note that upon booking the tent a $150 deposit in the form of cash or cheque must be given to the VP Finance. You must also be an MES Group, Team or Department Club as stated in the Policy Manual.</p>
        </div>
    </div>

    <div class="row card-info p-5">
        <div class="col-6">
            <h1>MES Trailer</h1>
            <hr class="hr-primary">
            <p>The MES Trailer may be used to transport Group or Team vehicles to and from events and competitions. The Trailer Maintenance Coordinator keeps the trailer in top shape and makes improvements throughout the year.</p>
            <h5><strong>Booking Instructions</strong></h5>
            <p>If you would like to book the MES Trailer, you may email the Trailer Maintenance Coordinator at trailer@macengsociety.ca to check for availability before printing out the contract, which can be found below. Please note that in order to book the Trailer you must be an MES Group or Team.</p>
        </div>
        <div class="col-6 text-center">
            <img src="http://macengsociety.ca/wp-content/uploads/2015/08/Trailer.jpg">
        </div> 
    </div>

</div>

<% include ./partials/footer %>