<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/sra.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">SRA ENGINEERING</h1>
            <hr>
        </div>
    </div>

    <div class="row docs p-5">
        <div class="col-8">
            <h1>What is the SRA?</h1>
            <hr class="hr-primary">
            <p>The Student Representative Assembly (SRA) is the governing body of the McMaster Students Union (MSU).  The role of the SRA is to present and address the concerns of all full-time undergraduate students, work to provide the best possible MSU services and departments, and lobby the university so to improve the quality of being a McMaster student.  The assembly is composed of 31 undergraduate students who are voted by students to represent each academic faculty.  The SRA is also composed of four students voted by the SRA to perform as the Board of Directors (BOD), filling the roles of VP Finance, VP Education and VP Admin.</p>
            <a href="https://www.msumcmaster.ca/governance/sra">SRA Governance <i class="fas fa-link"></i></i></a>
            <p></p>
            <p>There are six students that represent the Faculty of Engineering, with the collective goal of accurately representing the engineering student voice to the university and the MSU, while simultaneously increasing the transparency of the MSU to the faculty.</p>
            <p>Stay informed of MSU plans before they are voted on, so that your voice, opinions and concerns are heard, ensuring that the SRA most accurately represents YOU. The SRA Engineering Facebook and Twitter pages are frequently updated with relevant info – so follow us so that you can stay informed on any and all updates concerning anything MSU!</p>
            <a href="https://www.facebook.com/SRAEngineering"><i class="fab fa-facebook-square fa-3x"></i></a>
            <a href="https://twitter.com/sra_eng"><i class="fab fa-twitter-square fa-3x"></i></a>
            <p></p>
            <p>Agendas and supporting documentation for SRA meetings are made available to the public the Wednesday before each meeting on the MSU website:</p>
            <a href="https://www.msumcmaster.ca/posts">MSU News <i class="fas fa-link"></i></i></a>
            <br>
            <a href="https://www.msumcmaster.ca/governance/sra/sra-documents">SRA Documents <i class="fas fa-link"></i></i></a>
        </div>
        <div class="col-4 text-center">
            <img src="http://i41.tinypic.com/21bjipf.gif">
        </div>  
    </div>

    <div class="row contacts p-5">
        <div class="col-7">
            <h1>Contact Us</h1>
            <hr class="hr-primary">
            <p>If you have any questions or concerns about the MSU or student government, or have ideas that you would like to see implemented on campus or within the faculty, please contact us by messaging SRA Eng or a caucus member on Facebook or shoot us an email and we will be sure to respond to you ASAP!  Look out for the SRA Eng poster in JHE lobby and come chat with us during our office hours posted below</p>
        </div>
        <div class="col-5">
            <table>
                <tbody>
                    <tr>
                        <td><strong>SRA Engineering</strong></td>
                        <td><strong><a href="mailto:sraeng@msu.mcmaster.ca">sraeng@msu.mcmaster.ca</a></strong></td>
                    </tr>
                    <tr>
                        <td>Josh Arbess</td>
                        <td><a href="mailto:arbessj@mcmaster.ca">arbessj@mcmaster.ca</a></td>
                    </tr>                            
                    <tr>
                        <td>Menna Alla Tarek</td>
                        <td><a href="mailto:ibrahm17@mcmaster.ca">ibrahm17@mcmaster.ca</a></td>
                    </tr>                    
                    <tr>
                        <td>Mitchell Adel</td>
                        <td><a href="mailto:bisham3@mcmaster.ca">bisham3@mcmaster.ca</a></td>
                    </tr>                    
                    <tr>
                        <td>Seraj Singh</td>
                        <td><a href="mailto:singhs91@mcmaster.ca">singhs91@mcmaster.ca</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row pt-5 pr-t pl-5 text-center">
        <div class="col-12">
            <h1>Getting Involved with the MSU</h1>
            <hr class="hr-primary-mid">
        </div>
    </div>
    <div class="row pr-5 pl-5 involved-content text-center">
        <div class="col-xl-3 col-6 p-5">
            <i class="fas fa-concierge-bell fa-3x"></i>
            <h4>MSU Services</h4>
            <p>Find out about the different services offered to you as a student at McMaster.</p>
            <a href="https://www.msumcmaster.ca/services-directory">Learn More</a>
        </div>
        <div class="col-xl-3 col-6 p-5">
            <i class="fas fa-users fa-3x"></i>
            <h4>Clubza</h4>
            <p>The MSU recognizes 300+ clubs, why not join one?</p>
            <a href="https://www.msumcmaster.ca/clubza">Explore Clubs</a>
        </div>
        <div class="col-xl-3 col-6 p-5">
            <i class="fas fa-money-bill-wave fa-3x"></i>
            <h4>Student Fee Breakdown</h4>
            <p>See how your money contributes to McMaster University.</p>
            <a href="https://www.msumcmaster.ca/governance/your-money">Learn More</a>
        </div>
        <div class="col-xl-3 col-6 p-5">
            <i class="fas fa-briefcase fa-3x"></i>
            <h4>Campus Jobs</h4>
            <p>Looking for a job on campus? Apply here!</p>
            <a href="https://www.msumcmaster.ca/jobs">Explore Jobs</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>