<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/mescard.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">STUDENT SPACE</h1>
            <hr>
        </div>
    </div>

    <div class="row card-info p-5">
        <div class="col-6">
            <h1>The David Wilkison Lounge</h1>
            <hr class="hr-primary">
            <p>The MES Textbook library is a public library from which engineering students can freely borrow textbooks from. The library runs on a honour based system. Students may borrow any book from the library located in the BLUE Lounge (JHE 121) pending on the books availability. There are restrictions on the duration of the time the student is allowed to access the book for, however we trust students to return the textbooks within a reasonable amount of time so other students can also access the information as needed.</p>

            <p>For a full list of the Textbooks contained with this library feel free to visit the online database hosted <a href="https://macengsociety.librarika.com/">here</a>. On this website you can see the books that we have to offer as well as pictures of the textbooks themselves so you can easily locate the book within the library. If you would like to support the textbook library by donating you’re used course wear, donations will gladly be accepted at the end of each term during executive office hours. For any suggestions, questions or concerns feel free to email the Academic Resource Coordinator at arc@macengsociety.ca.</p>
        </div>
        <div class="col-6">
            <img src="https://www.eng.mcmaster.ca/sites/default/files/uploads/hatch2.jpg">
        </div>  
    </div>

    <div class="row card-info p-5">
        <div class="col-6 pb-5">
            <img src="https://www.eng.mcmaster.ca/sites/default/files/uploads/junction3.jpg">
        </div>  
        <div class="col-6">
            <h1>The Drain</h1>
            <hr class="hr-primary">
            <p>The MES Textbook library is a public library from which engineering students can freely borrow textbooks from. The library runs on a honour based system. Students may borrow any book from the library located in the BLUE Lounge (JHE 121) pending on the books availability. There are restrictions on the duration of the time the student is allowed to access the book for, however we trust students to return the textbooks within a reasonable amount of time so other students can also access the information as needed.</p>

            <p>For a full list of the Textbooks contained with this library feel free to visit the online database hosted <a href="https://macengsociety.librarika.com/">here</a>. On this website you can see the books that we have to offer as well as pictures of the textbooks themselves so you can easily locate the book within the library. If you would like to support the textbook library by donating you’re used course wear, donations will gladly be accepted at the end of each term during executive office hours. For any suggestions, questions or concerns feel free to email the Academic Resource Coordinator at arc@macengsociety.ca.</p>
        </div>
    </div>

</div>

<% include ./partials/footer %>