<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/traditions.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">TRADITIONS</h1>
            <hr>
        </div>
    </div>


    <div class="row redsuits pl-5 pr-5">
    	<div class="col-xl-6 col-lg-8">
    		<h1>The Redsuits</h1>
    		<hr class="hr-primary">
    		<p>The Redsuits at McMaster are student volunteers who promote engineering pride and spirit across campus and in the community. The most important job they have are as student reps during Welcome Week, where they handle all the engineering events and help first years get used to their new home at McMaster. They also participate in just about every MES event through the year, and can be seen handing out crackers during exam time, on buses to pub nights, volunteering at conferences and raising money for charity. If you want to get more involved with the reds, ask around in the lounge and you’ll find out more. If you want to be one, tryouts are usually held near the end of the year, in early March.</p>
    	</div>	
    </div>

    <div class="row text-white">
    	<div class="col-xl-6 col-12 titbird pr-5 pl-5">
    		<h1>The Headless Titbird</h1>
    		<hr class="hr-primary">
    		<p><em>As per Duncan Forster, 1999…</em></p>

			<p>I’ll give this to you the way I first heard it, when I was a frosh, from my mentor, Keith “Ripper” Taylor. This is just one version of the legend. The truth remains in the same file as the names of JFK’s other assassins and the final resting place of Jimmy Hoffa:</p>

			<p>As you have realized by now, Engineers built just about everything on this campus. However, at certain times in McMaster’s history, the Artsies have gotten together and thought, “Hell, we can build stuff too!” The empty pedestal serves as tribute to just such an occasion. This was the perch of one of the Artsies efforts to build something. It is referred to as the Headless Titbird, and that is because that is essentially what it was. It was this enormous bird, with huge tits, and no head. Somewhere between five and fifteen years ago, the Titbird just sort of, flew away. We don’t know where it is, but there is a picture of it in the Engineering Lounge if you ever want to take a look.</p>
    	</div>
    	<div class="col-xl-6 col-12 fireball pr-5 pl-5">
    		<h1>The Fireball</h1>
    		<hr class="hr-primary">
    		<p>The fireball is the official symbol of McMaster Engineering. It historically comes from the coat of arms of Hamilton College. McMaster’s Faculty of Engineering emerged from Hamilton College in 1958 and hence adopted a red fireball as its own emblem in 1960.</p>
			<p>It is used widely by both the faculty and students to represent everything from culture, to excellence in research and innovation. On yet another symbolic level, the fireball is used to represent the fact that energy that cuts across all areas of science and engineering. The Faculty of Engineering, which was founded in 1958 adopted the fireball as their symbol.</p>
    	</div>
    </div>

    <div class="row kipling text-white justify-content-end">
    	<div class="col-xl-6 col-lg-8 pl-5 pr-5">
    		<h1>Kipling</h1>
    		<hr class="hr-primary">
				<p>There is much to learn about Kipling before one can attend it. This all begins with the infamous story of the Iron Ring. To summarize, Kipling includes all the festivities relating to the receiving of the Iron Ring by graduating engineering students. These festivities include a great deal of pranks – hopefully this year we’ll see some really good ones (there have been some great ones in the past), the secret Kipling Ceremony (that you will NEVER hear about from someone who has been there), some headaches, and a formal Kipling dance. This is an event that is certain to be worth the wait.</p>
				<br>
				<p>Kipling In The News
				The Silhouette, March 25, 1999:</p>
				<blockquote>
					<p><em>Perhaps you remember… when a car mysteriously appeared on a second-story ledge of Mills library. That was the result of Kipling pranks. Or how the windows of Togo cafe became a colourful sight with red and yellow paint. That too was part of Kipling. Statues covered, banners hanging from obscure places, fireball-shaped balloons, or fishing wire strung across the arts quad…</em></p>
				  	<footer class="blockquote-footer">Alison McIntosh, Lifestyles Editor <cite title="Source Title">Secret Rituals of Kipling</cite></footer>
				</blockquote>
				<p><em></em></p>
    	</div>	
    </div>

    <div class="row other-traditions">
    	<div class="col-12 pb-5 text-center">
    		<h1>Other Traditions</h1>
    		<hr class="hr-primary-mid">
    	</div>
    	<div class="col-4 p-5 west-end text-white">
    		<h4 class="text-center">West End Tables</h4>
    		<hr>
    		<p>The West End is a little pub down Emerson St. that is frequented by engineering students. Upon graduation, after getting their Iron Rings and attending Kipling Formal, newly graduated McMaster Engineers will head to this little pub and carve their initials using their Iron Ring into the back wooden table.</p>
    	</div>
    	<div class="col-4 p-5 nursing text-white">
    		<h4 class="text-center">Nursing</h4>
    		<hr>
    		<p>At McMaster, Engineering has always had a partnership with Nursing. We figure the guy/girl ratio in engineering pretty much matches the girl/guy ratio in nursing, so our parties get that much better if we invite each other. During frosh week, at social events, and at other events throughout the year, its common for engineering to team up with nursing to show the other faculties how awesome we can be together.</p>
    	</div>
    	<div class="col-4 p-5 plummers text-white">
    		<h4 class="text-center">Why Are Engineers Called "Plummers"?</h4>
    		<hr>
    		<p>We believe that engineers are called plummers because of the deep rooted military past… Allow us to elaborate. Most engineering in the day was done by military engineers (cheap labour, right?). Now, have you ever wondered why they used Plum bobs and everything they built was ‘just plum.’ Well, this is because the general at the time, Gen. (and noted Professor) Plum invented said engineering instrument and damn did it work good. This is also why engineers are purple, the colour of the Plum.</p>
    	</div>
    </div>

</div>

<% include ./partials/footer %>