<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/tryouts2019.css">
<link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">

<div class="jumbotron jumbotron-fluid text-center p-0 m-0">

    <div class="content d-flex flex-column justify-content-center align-items-center">
        <h1 class="tryout-title text-center">WELCOME WEEK<br><span class="flicker-red">REP</span> TRYOUTS</h1>
        <h3 class="tryout-sub-title"><em>Join the loud and proud welcoming team!</em></h3>
    </div>
</div>


<div class="container-fluid traditions-container">

    <div class="row tryout-info p-5">
        <div class="col-xl-6 col-md-12">
            <h1>Tryouts 1TO3</h1>
            <hr class="hr-primary">
            <p>Do you love McMaster Engineering? Do you love welcome week? Well this is the right place for you. Tryouts are the annual selection process for the Engineering Welcome Week rep team. Applicants can be in any stream, department, or faculty! This also includes BTech, iBioMed and Comp Sci. We encourage everyone and anyone to try out!</p>
            <p>If you missed the info sessions, find the PowerPoint <a href="">here</a>.</p>
            <p>Tryouts are going to be from February 8th-10th and all applicants trying out to be a rep must sign up for a time slot on the sign-up sheet in the Junction (2nd floor Hatch). Try and sign up for a time slot on Friday or Saturday!</p>
            <p>Below, are some rules to follow for your tryout:</p>
            <ol>
                <li>Tryout in groups of 4-6, no more, no less</li>
                <li>Arrive in the Junction (2nd floor Hatch building) before your tryout begins!</li>
                <li>All tryouts are 15 minutes in length and will include a 5 minute creative portion and 10 minutes of individual interviews. These are strict timelines and your creative component will be cut off after 5 minutes. If you have a video, the allotted 5 minutes includes your setup time. We will have a projector and laptop ready to go. You can bring your own laptop if you wish.</li>
                <li>Know where the line is, and don't cross it. If you don't know where the line is ask an old person (graduating redsuit)</li>
                <li>HAVE FUN!</li>
            </ol>
            <p>Besides the tryout, you also have to fill out an application by <strong>Sunday February 3rd at 11:58pm</strong>. To the right you'll find links to the <a
                        href="">PDF</a>, <a href="">Word</a>, and <a href="">online application forms</a>. Please be sure to fill out either the PDF or Word application, print it off and bring it to your tryout. You <strong>must also</strong> fill out the online form with the same information and submit it before your tryout time.  Scroll down for more info on Tryout Pub as well as to find out who's on the selection committee!</p>
            <p><strong>Food bribes are welcome, but keep in mind committee allergies! Dietary restrictions listed below:</strong></p>
            <ul>
                <li>Tommy Siuda: No Beef</li>
                <li>Riya Suthar: Vegetarian</li>
                <li>Brendan Tomaiuolo: Lactose Intolerant & Shellfish</li>
            </ul>
        </div>
        <div class="col-xl-6 col-md-12">
            <img class="basic-img" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/40198524_2123141961054092_4726474959352758272_o.jpg?_nc_cat=109&_nc_ht=scontent-yyz1-1.xx&oh=dff8f715e840e9bdff4d346eac2b504e&oe=5CC3EC9D" alt="">
            <div class="mt-5 text-center">
                <h2>Applications</h2>
                <a class="btn btn-primary btn-lg m-1 w-100"  href="">PDF</a>
                <a class="btn btn-primary btn-lg m-1 w-100" href="">Word</a>
                <a class="btn btn-primary btn-lg m-1 w-100" href="">Online</a>
                <h5 class="pt-3">Applications are due February 3rd @ 11:58PM</h5>
            </div>
        </div>
    </div>

    <div class="row tryout-pub p-5">
        <div class="col-xl-6 col-md-12 pb-5">
            <img class="basic-img" src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/12742143_10153918618333134_1843099510366565377_n.jpg?_nc_cat=108&_nc_ht=scontent-yyz1-1.xx&oh=4abd593429656839de9296d9efe39135&oe=5CB9B3B5" alt="">
        </div>
        <div class="col-xl-6 col-md-12">
            <h1>Tryout Pub</h1>
            <hr class="hr-primary">
            <p>Tryout Pub is the annual pub night where you can have the opportunity to de-stress after tryouts and meet and mingle with the selection committee, graduating reps, and all other people trying out! Happening the Saturday of Tryout weekend (February 9th), tickets will go on sale from The Drain the week leading up to Tryouts. We'll be releasing more information on Tryout Pub in the weeks leading up to Tryout weekend so be sure to follow the MES on Facebook to keep in the loop!</p>
            <p><strong>This will be an all-ages event, however if you are caught underage drinking, you will be kicked out - no questions asked.</strong></p>
        </div>
    </div>

    <div class="row committee p-5">
        <div class="col-12">
            <h1 class="text-white text-center title">Meet the Orientation Committee</h1>
            <hr>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/emma-rogers.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Emma “P Sniffer” Rogers </h5>
                    <p class="card-text">Electrical & Biomedical Engineering IV</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/karlo-nesovic.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Karlo “CUT.ME.OFF.” Nesovic</h5>
                    <p class="card-text">Electrical & Biomedical Engineering IV</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/amit-rao.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Amit “Mating Call Malfunction” Rao</h5>
                    <p class="card-text">Engineering Physics IV</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/andrea-obungen.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Andrea “Home Scents” Obungen</h5>
                    <p class="card-text">Chemical & Bioengineering IV</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/anna-lopatukhin.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Anna “Christopher Columbass” Lopatukhin</h5>
                    <p class="card-text">Mechanical Engineering II</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/ben-torres.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Ben “Daddy D.D.” Torres-Kulik</h5>
                    <p class="card-text">Engineering Physics & Management III</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/brendan-tomaiuolo.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Brendan “Frozen Assweats” Tomaiuolo</h5>
                    <p class="card-text">Civil Engineering & Society III </p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/emma-levy.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Emma “Pee-Flex” Levy</h5>
                    <p class="card-text">Civil Engineering III</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/jack-toller.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Jack “M.V.P.” Toller</h5>
                    <p class="card-text">Mechanical Engineering & Society V</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/lauren-lavalley.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Lauren “Squatted at Mac” LaValley</h5>
                    <p class="card-text">iBioMed and Chemical Engineering II</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/matana-hendrickson.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Matana “Flash Photography” Hendrickson</h5>
                    <p class="card-text">iBioMed and Engineering Physics II</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/riya-suthar.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Riya “Silenced by $” Suthar</h5>
                    <p class="card-text">Chemical Engineering II</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/ryan-schultz.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Ryan “Stuffed Krust” Schultz</h5>
                    <p class="card-text">Electrical Engineering & Management IV</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/tommy-siuda.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Tommy “Mother Knows Best” Siuda</h5>
                    <p class="card-text">Civil Engineering & Society IV</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-6 p-3">
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tryouts/victoria-anderson.png" alt="Card image">
                <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
                    <h5 class="card-title">Victoria “Track and Failed” Anderson</h5>
                    <p class="card-text">Biotechnology IV</p>
                </div>
            </div>
        </div>
    </div>

</div>

<% include ./partials/footer %>
