<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/tutoring.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
    	<div class="col-12">
            <h1 class="title">TUTORING</h1>
            <hr>
        </div>
    </div>

    <div class="row about p-5">
        <div class="col-6">
            <h1>About</h1>
            <hr class="hr-primary">
            <p>The MES works with the McMaster Student Success Centre and TutorOcean to implement its tutoring network.  Instructions can be found below on how to find a tutor for a course you need help in, or to sign up to be a tutor yourself. </p>
            <p>MES Tutors also help out with academically focused events such as the MES cookies and cram sessions where MES tutors can reach out to new potential clients while helping members of the community who need help.</p>
            <p>If you have any questions you can reach out to <a href="mailto:saap@macengsociety.ca">saap@macengsociety.ca</a> for more information.</p>
        </div>
        <div class="col-6">
            <img class="tutor-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/tutoring/tutor-img.jpg">
        </div>
    </div>

    <div class="row tutor-info p-5">
        <div class="col-6">
            <h1>Need a tutoring session?</h1>
            <hr class="hr-primary">
            <ol>
                <li>Sign up for a TutorOcean account to learn at <a target="_blank" href="https://mcmaster.tutorocean.com/">mcmaster.tutorocean.com</a> using your McMaster email.</li>
                <li>Your credit card is required to facilitate paying for tutoring sessions.  It will not be charged for any other kind of expense.</li>
                <li>Select a tutor from the list which is available, or you can search for a tutor or a subject at any time by using the search bar at the top of the screen.</li>
                <li>Through the MES, you are entitled to seven $15 coupons per semester to subsidize the cost of your tutoring session to only $3.  These are available by clicking on sessions, then payment methods at the top of the screen.</li>
                <li>Copy and paste your coupon code into the coupon box when paying for a session to access the discount for the session.</li>
                <li>Meet up with your tutor in person or learn through the TutorOcean online platform.</li>
            </ol>
        </div>
        <div class="col-6">
            <h1>Want to become a tutor?</h1>
            <hr class="hr-primary">
            <ol>
                <li>Sign up for a TutorOcean account to teach at mcmaster.tutorocean.com using your McMaster email.  If you previously signed up to learn, you can follow the rest of the steps in the same way.</li>
                <li>Your credit card is required to facilitate getting paid for the sessions you teach.  You can also use your account to request tutoring sessions for your own help as well.</li>
                <li>Click on your profile picture in the top right corner of your screen.  From the drop down menu that comes out, click “Become a Tutor”.</li>
                <li>Follow the steps on the left hand side of the screen to add some information to your account to help students find you as a tutor.</li>
                <li>Click “Send Application” on the left hand side of the screen.</li>
                <li>You will also be required to email your transcript to the Student Success Centre (SSC) to confirm that you have at least a 10 in the courses that you are looking to tutor in.</li>
                <li>You will now be registered with the SSC as a tutor, you will receive notifications if tutees are looking to select you as their tutor.  Coming out to events as a tutor is a great way to improve your likelihood of being selected as a tutor.</li>
            </ol>
        </div>
    </div>

</div>

<% include ./partials/footer %>