body{
	font-family: "Raleway";
}

.navbar{
	padding: 0;
	background-color: #262626 !important;
	z-index: 40;
}

.nav-item{
	margin: 0;
	border-bottom: 3px solid #262626;
	transition: linear 0.2s;
	font-size: 0.9em;
	padding: 0 7px 0 7px;
}

.nav-item:hover{
	border-bottom: 3px solid red;
}

.navbar-text {
	font-size: 0.9em;
	padding: 8px;
}

.navbar-brand img{
	height: 1.4em;
	width: 2em;
}

.navbar-brand img:hover{
	opacity: 0.5;
}

.btn:hover {
	cursor: pointer;
}

.btn-primary{
	background-color: #dd3333;
	border-color: #dd3333;
	box-shadow: none;
}

.btn-primary:hover{
	background-color: #ae1e1e;
	border-color: #ae1e1e;
}

.btn-primary:active{
	background-color: #841515 !important;
	border-color: #841515 !important;
	box-shadow: none !important;
}

.btn-primary:focus, .btn-outline-primary:focus{
	box-shadow: none !important;
}

.btn-outline-primary{
	color: #dd3333;
	border-color: #dd3333;
}

.btn-outline-primary:hover{
	border-color: #dd3333;
	background-color: #dd3333;
}

.btn-outline-primary:active{
	background-color: #841515 !important;
	border-color: #841515 !important;
	box-shadow: none !important;
}

.hr-primary{
	background-color: red;
	width: 50%;
	margin-left: 0;
}

.hr-primary-mid{
	background-color: red;
	width: 50%;
	margin: auto;
}

.hr-secondary{
    background-color: black;
    width: 50%;
    margin-left: 25%;
}

.nav-container{
	height: 100%;
}

.posts{
	height: 500px;
}

a{
    color: red;
}

a:hover{
    color: darkred;
}

.btn-link {
	color: red;
}

.btn-link:hover {
	color: darkred;
}

.title-card{
	background-color: #b30000;
	box-shadow: 0px 5px 20px #888888;
	z-index: 1;
	position: relative;
}

.title {
	font-size: 70px;
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}

.dropdown-item:active {
	background-color: red;
}

