.funding {
	background:linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), 
	url("https://s3.us-east-2.amazonaws.com/mes-website-assets/images/static/funding-conference.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}