body{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), 
    url("https://s3.us-east-2.amazonaws.com/mes-website-assets/images/static/silent-study.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.new-post{
	margin-top: 5%;
}

textarea {
  resize: none;
}