.frequency img {
	width: 60%;
	box-shadow: 5px 10px 20px #888888;
}

.plumbline {
	background-color: rgb(247, 247, 247);
}

.plumbline img {
	width: 70%;
	box-shadow: -5px 10px 20px #888888;
}

.handbook img {
	width: 70%;
	box-shadow: 5px 10px 20px #888888;
}

img {
	width: 100%;
}