.row img {
	width: 100%;
}

.contacts {
	background-color: rgb(247, 247, 247);
}

td {
	padding: 5px 20px 5px 0;
}

table {
	margin: auto;
}

.involved-content i {
	margin-bottom: 10px;
}

.involved-content p {
	padding: 0 15px 0 15px;
}